<%= form_for(@event_item) do |f| %>
  <% if @event_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event_item.errors.count, "error") %> prohibited this event_item from being saved:</h2>

      <ul>
      <% @event_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
