<li class="event_item">
  <%= f.text_field :quantity_needed, :class => "quantity_needed", :placeholder => "Quantity Needed" %>
  <%= f.text_field :description, :class => "description", :placeholder => "Description" %>
  <%= f.fields_for :item, :index => nil do |i| %>
    <%= i.text_field :name, :placeholder => "Name" %>
  <% end %>
</li>