
<header>

	<nav class="navbar">
		<div class= "navbar-inner">
			<h1 id="brand" ><%= link_to "PartyGopher", root_path%></h1>

			<ul id="top_nav" class="nav nav-pills">
      <% if current_user %>
					  <div>
					  	<li><%= button_to "Log Out", session_path(session), :method => :delete, class: "btn btn-info" %>
					  	</li>
					  </div>
					  <%end %>
					  
			</ul>

	
		</div>
	</nav>
</header>