  <div class='navbar'>
    <div class='navbar-inner'>
      <div class='container'>
    <span class="brand"><a href="/">Event Gopher</a></span>
    <ul>
      <li><a href="#">Placeholder!</a></li>
      <li><a href="#">YAY!</a></li>
    </ul>
  </div>
</div>
</div>