<div class="container">
	<!-- <div class='hero-unit'>

		<div class="welcome"><h1>Welcome to PartyGopher!</h1></div><br><br><br><br><br><br>
		<div class="greeting"><h3>Organize.. Invite.. Enjoy!</h3></div> -->
	<!-- </div> -->

	<!--  Carousel - consult the Twitter Bootstrap docs at 
      http://twitter.github.com/bootstrap/javascript.html#carousel -->
<div id="homepage_slider" class="carousel slide"><!-- class of slide for animation -->
  <div class="carousel-inner">
    <div class="item active"><!-- class of active since it's the first item -->
      <img src="http://barlowvincentchurchofchrist.com/hp_wordpress/wp-content/uploads/2012/04/00000.jpg/1200x480" alt="" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </div>
    <div class="item">
      <img src="http://placehold.it/1200x480" alt="" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </div>
    <div class="item">
      <img src="http://placehold.it/1200x480" alt="" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </div>
    <div class="item">
      <img src="http://placehold.it/1200x480" alt="" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </div>
  </div><!-- /.carousel-inner -->
  <!--  Next and Previous controls below
        href values must reference the id for this carousel -->
    <a class="carousel-control left" href="#homepage_slider" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#homepage_slider" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->

	<% unless current_user %>

	<div class="row">
		<div class="span6">
			<h4>Sign up and start</h4>
			<h4>planning your potluck!</h4>
			<%= render 'layouts/session_form' %>

			<div class="signin_button">
				<button id="new_user" class="btn btn-success"> Sign Up </button>
			</div><br>
			<div class="fb_button"><%= button_to "Sign in with Facebook", "/auth/facebook", id: "sign_in", class: :"btn btn-primary" %>
			</div>
		</div>

		<div class="span6">
			<h4>Login to check on your</h4>
			<h4>event, or add more to it!</h4>
			<%= render 'layouts/session_form_login' %>
			<button id="login" class="btn btn-success"> Log In </button>
		</div>

		<% end %>

		<% if current_user %>
		<div class="span12">
			<h4> Checkout your events!</h4>
			<% else %>
			<div class="span4">


				<ul>

				</ul>
			</div>
			<% end %>  

		</div>
