<ul id="contributions" class="assigned_items">Items We Have!
    <div>
  <% @event.event_items.each do |ei| %>
    <div class="brought_item">
      <li class="item_name"> <%= ei.item.name %> </li>
    <% ei.assigned_items.each do |ai|%>
      <ul class="guest_item">
        <li class="guest_name"> <%= ai.guest.name %> </li>
        <li class="quantity_provided"> Bringing: <%= ai.quantity_provided %> </li>
      </ul>
    <% end %>
      </div>
  <% end %>
    </div>
</ul>
