<div>
<h3>Here's a link to share with your guests.</h3>
  <%= link_to "www.toomanychips.com/#{@event.url}", event_path(@event) %>
  <h3> You can also <%= link_to 'edit your event', edit_event_path(@event) %></h3>
</div>