<h1>Editing event</h1>
  <%= render 'edit_and_view_guest_items' %>
  <%= render 'create_event_form' %>
<div class='footer'>
  <%= link_to 'Delete This Event' , @event, :confirm =>
  "Are you sure you want to delete your event?", :method => :delete %>
</div>
