<div class='container'>
  <div class='edit_event_container'>
  <p class="lead" id="edit-top"><%=@event.name.titleize%> Details</p>
    <%= render 'edit_and_view_guest_items' %>
    <%= render 'edit_event_form' %>
  <div class='footer'>
    <%= link_to 'Delete This Event' , @event, :confirm =>
    "Are you sure you want to delete your event?", :method => :delete %>
  </div>
</div>
</div>