  <div class='navbar'>
    <div class='navbar-inner'>
      <div class='container'>
    <span class="brand"><a href="/">Event Gopher</a></span>
    <ul>
 
    </ul>
  </div>
</div>
</div>




				<!-- <#% unless current_user %>
			    <li><#%= button_to "Sign in with Facebook", "/auth/facebook", id: "sign_in", class: :"btn btn-primary" %>
					<li><button id="new_user" class="btn btn-success"> Sign Up </button></li>
					<li><#%= render 'layouts/session_form' %></li>
					<li><button id="login" class="btn btn-success"> Log In </button></li>
					<li><#%= render 'layouts/session_form_login' %></li>
				<#% end %> -->

<!-- 
				<#% if current_user %>
				    <li> Signed in as <strong><%= current_user.name.titleize %></strong>! </li> -->



<header>

	<nav class="navbar">
		<div class= "navbar">
			<h1 id="brand" ><%= link_to "PartyGopher", root_path%></h1>

			<ul id="top_nav" class="nav nav-pills">

				<!-- <#% unless current_user %>
			    <li><#%= button_to "Sign in with Facebook", "/auth/facebook", id: "sign_in", class: :"btn btn-primary" %>
					<li><button id="new_user" class="btn btn-success"> Sign Up </button></li>
					<li><#%= render 'layouts/session_form' %></li>
					<li><button id="login" class="btn btn-success"> Log In </button></li>
					<li><#%= render 'layouts/session_form_login' %></li>
				<#% end %> -->


				<% if current_user %>
				    <li> Signed in as <strong><%= current_user.name.titleize %></strong>! </li>
					  <li><%= button_to "Log Out", session_path(session), :method => :delete %></li>
					  <%end%>
			</ul>

	
		</div>
	</nav>
</header>





<div id="homepage_slider" class="carousel slide"><!-- class of slide for animation -->
  <div class="carousel-inner">
    <div class="item active"><!-- class of active since it's the first item -->
      <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQ8zBORt9INSYsnBz8XZKfkmZIqC4qywXlGqcQWNU7saE24zQF1bQ" alt="" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </div>
    <div class="item">
      <img src="http://barlowvincentchurchofchrist.com/hp_wordpress/wp-content/uploads/2012/04/00000.jpg" alt="" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </div>
    <div class="item">
      <img src="http://assets.homesessive.com/styles/gallery_large/s3/5-Ideas-for-Reviving-the-potluck-Dinner-Party2.jpg" alt="" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </div>
    <div class="item">
      <img src="http://gushevents.files.wordpress.com/2011/12/potluck.jpg" alt="" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </div>
  </div><!-- /.carousel-inner -->
  <!--  Next and Previous controls below
        href values must reference the id for this carousel -->
    <a class="carousel-control left" href="#homepage_slider" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#homepage_slider" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->