<!-- <div class="container"> -->
	
		<div id="myCarousel" class="carousel slide">
			<div class="carousel-inner">
				<div class="item item1 active">
					
						<div class="container">
							<div class="carousel-caption">
								<h1>Organize.</h1>
								<p class="lead">Sign up with PartyGopher and start planning.  It's that simple.</p>
							</div>
						</div>
				</div>
				<div class="item item2">
					
					<div class="container">
						<div class="carousel-caption">
							<h1>Invite.</h1>
							<p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
						
						</div>
					</div>
				</div>
				<div class="item item3">
					
					<div class="container">
						<div class="carousel-caption">
							<h1>One more for good measure.</h1>
							<p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
						
						</div>
					</div>
				</div>
			</div>
			<a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
			<a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
		</div>


<div class="container">
	<div class="row signup_forms">
		<div class="span6">
			<div class="signup_container">
				<div class="signup_form">
					<h4>Sign up and start</h4>
					<h4>planning your potluck!</h4><br>
					<%= render 'layouts/create_user_form' %>

					
					<div class="fb_button"><%= button_to "Sign in with Facebook", "/auth/facebook", id: "sign_in", class: :"btn btn-primary" %>
					</div>
				</div>
				<div class="cover"></div>
		  </div>
		</div>

		<div class="span6">
			<div class="signup_container">
				<div class="signup_form">
					<h4>Login to check on your</h4>
					<h4>event, or add more to it!</h4><br>
					<%= render 'layouts/user_login_form' %>
					
				</div>
				<div class="cover"></div>
		  </div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row ignup_forms">
		<div class="span4">
			<div class="signup_container">
				<div class="signup_form">

					<h2>Join Us.</h2>
					<h4>planning your potluck!</h4>
					

					
				</div>
				<div class="cover"></div>
		  </div>
		</div>

		<div class="span4">
			<div class="ignup_container">
				<div class="ignup_form">
					<h2>Organize.</h2>
					<h4>event, or add more to it!</h4>
				
				</div>
				<div class="cover"></div>
		  </div>
		</div>

		<div class="span4">
			<div class="ignup_container">
				<div class="ignup_form">
					<h2>Enjoy!</h2>
					<h4>event, or add more to it!</h4>
				
				</div>
				<div class="cover"></div>
		  </div>
		</div>

	</div>
</div>

	

		
