  <%= form_tag @session, :method => 'get', :html => {:class => 'form-horizontal'} do %>

  <div class="control-group">
    <label class="control-label" for="inputEmail">Email</label>
    <div class="controls">
      <%= session.text_field :email, :id => "inputEmail", :placeholder => "email"%>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="inputPassword">Password</label>
    <div class="controls">
      <%= session.password_field :password, nil, :id => "inputPassword", :placeholder => "password" %>
    </div>
  </div>

  <%= submit_tag("Submit")%>
  <%end%>
