<% @event.event_items.each do |ei| %>
  <% unless ei.needed? %>
    <% ei.assigned_items.each do |ai|%>
      <p class="guest_name"> <%= ai.guest_name %> </p>
      <p class="item_name"> <%= ai.event_item.name %> </p>
      <p class="quantity_provided"> <%= ai.quantity_provided %> </p>
    <% end %>
  <% end %>
<% end %>

