/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 

#top_nav{
 	margin-top: 0px;
 	float:right;
 }

/*nav ul li {
 	list-style: none;
 	font-family: serif;
 	font-size: 1em;
 
 }*/

 h1 {
 	float:left;
 	max-width: 450px;
 }

.navbar {
    background-color: #FFBB76;
}

.navbar-inner {
  /*  color: black;
    background-color: black;
    background-image: linear-gradient(to bottom, #FF7D51, #FF7D51);*/
    background-repeat: repeat-x;
    /*border: 1px solid black;*/
    border-radius: 14px 14px 14px 14px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    min-height: 40px;
    padding-left: 80px;
    padding-right: 20px;
}

.navbar-inner a {
  color: #FF7D51;
}

body {
	background-image: linear-gradient(to bottom, #FFBB76, white);
    background-repeat:no-repeat;
}

.carousel-inner .item{
    background-size: 1500px 550px;
}

.hero-unit {
    background-image: url('black_pants.png');
	background-repeat: no-repeat;
    background-size: 1500px 550px;
  
}

.hero-unit h1 {
    color: #FF5600;
}

.hero-unit h3, h4 {
    color: #00A392;
}

body {
padding-bottom: 40px;
color: #5a5a5a;
}

body {
margin: 0;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 14px;
line-height: 20px;
}

body {
display: block;
margin: 8px;
}

.carousel-caption {
background-color: transparent;
}

.carousel-caption h1 {
    color: #FF5600;
}