/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*
 * GLOBAL STYLES
 */

body {
    color: #5a5a5a;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    background-image: url('furley_bg.png');
    /*background-repeat:no-repeat;*/
    /*background-size: cover;*/
}

 

#top_nav{
 	margin-top: 0px;
 	float:right;
 }

.navbar {
    background-color: #FFBB76;
    top: 0;
    left: 0;
    margin-bottom: 0;
}

.hero-unit {
  background-image: url('http://farm4.static.flickr.com/3132/2881116786_fa9351331e.jpg');
  background-repeat: no-repeat;
  width: 100%;
  height: 380px;
  background-size: 100%;
  
}

.hero-unit h1, h2 {
  color: #FF5600;
}

.hero-unit h3, h4 {
  color: #363636;
}


.navbar-inner {

    background-repeat: repeat-x;
    /*border: 1px solid black;*/
    border-radius: 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    min-height: 40px;
    padding-left: 80px;
    padding-right: 20px;
}

.navbar h1 a {
    font-weight: 100;
    text-decoration: none;
}

.navbar-inner a {
  color: #FF7D51;
}

.navbar-inner #sign_out {
    right: 55px;
    top: 15px;
    position: absolute;
}

.navbar-inner #profile {
    right: 155px;
    top: 15px;
    position: absolute;
}

.hero-unit {
    background-image: url('black_pants.png');
	background-repeat: no-repeat;
    width: 100%;
    height: 500px;
  
}

.hero-unit h1 {
    color: #FF5600;
}

.hero-unit h3, h4 {
    color: #00A392;
}


.carousel-caption {

background-color: transparent;
}

.carousel-caption h1 {
    color: #FF5600;
}

#myCarousel {
    width: 100%;
    height: 500px;
}

#myCarousel .item {
    width: 100%;
    height: 100%;
    height: 500px;
}

.item1 {
    background-image: url('black_pant.png');
    background-size: cover;
    background-repeat: no-repeat; 
}

.item2 {
    background-image: url('hotdog.png');
    background-size: cover;
    background-repeat: no-repeat; 
}

.item3 {
    background-image: url('http://www.co-operativefood.co.uk/Food/xmas2012/Images/scroller-large/sparkle_scroller_large_chilled_party.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
}

.signup_forms {
    position: absolute;
    top: 90px;
}

.signup_forms .span6 {
    position: relative;
    height: 350px;
}

.signup_container {
    padding-top: 25px;
    padding-left: 60px;
}

.index_panels {
    position: absolute;
}


.index_panels .span4 {
    position: relative;
    height: 240px;
}

.index_panels .span4 h2{
    color: #00A392;
}

.index_panels .span4 h5{
    color: #FF7D51;
}

.panel_container {
    padding: 25px;
}

.signup_form,
.signin_form {
    position: relative;
    z-index: 1;
}

.panel_1,
.panel_2,
.panel_3 {
    position: relative;
    z-index: 1;
}

.signup_container .cover {
    background-color: #f8f8f8;
    position: absolute;
    top: 10px;
    left: 0;
    opacity: 0.8;
    height: 100%;
    width: 90%;
    z-index: 0;
    border-radius: 4px;
}

.panel_container .cover {
    background-color: #D3D3D3;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
    height: 250px;
    width: 100%;
    z-index: 0;
    border-radius: 4px;
}

.alert {
    position: relative;
    width: 75%;
}

.new_event h1 {
    color: #FF7D51;
}

.new_event_container {
    background-color: #D3D3D3;
    
    top: 0;
    left: 0;
    opacity: 0.8;
    
    width: 100%;
    z-index: 0;
    border-radius: 4px;
}

.link_button {

}

.float-left {
    float: left;
    display: inline-block;

}

.description {
    width: 95%;
}



.location {
    width: 46%;
}

.new_event select {
    width: 33%;
}

#event_date_* {
    color: red;
}

.name {
    width: 46%;
}

.item_quantity_needed {
    width: 15%;
}

.item_description {
    width: 410px;
}

.item_name {
    width: 72%;
}

.lead {
    color: #FF5600;
}


