
<div class="event_name" placeholder="Title" required>
  <%= @event.name %>
</div>
<div class ="place" placeholder="Location">
  <%= @event.description %>
</div>
<div type="datetime" class="date" placeholder="Date">
  <%= @event.date %>
</div>
<div type="text" class="description" placeholder="Description">
  <%= @event.location %>
</div>

