<div>
<h3>Here's a link to share with your guests.</h3>
  <%= link_to "#{@event.url}", event_path(@event) %>
  <h3> <%= link_to 'Click here to view your event as a guest', event_path(@event) %></h3>
</div>