<h1>New event</h1>

<div class='event'>
  <div class='event_details'>
    <%= render 'form' %>
  </div>
  <div class='items_form'>
    <%= render 'items/form' %>
  </div>
  <div class="added_items">

  </div>
</div
