<h1>New event</h1>

<div class='event'>
  <div class='event_details'>
    <%= render 'form' %>
  </div>
  <div class="added_items">
    <button class="add_item">Add Item</button>

  </div>
  <button class="save_event">Save Event</button>
</div>
