
<header>

	<nav class="navbar">
		<div class= "navbar-inner">
			<h1 id="brand" ><a href="/">TOO<strong>MANY</strong>CHIPS</a></h1>

			<ul id="top_nav" class="nav nav-pills">

				<% if current_user %>
				    <li> Signed in as <strong><%= current_user.name.titleize %></strong>! </li>
					  <li><%= link_to "Sign Out", signout_path, id: "sign_out" %></li>
					  <%end%>
			</ul>

	
		</div>
	</nav>
</header>
